{% extends './base.html' %}

{% block isi %}
  <img src="gambar.jpg" alt="" class="cover-postingan" />

  <h1 class="judul-artikel">judul</h1>

  <article class="konten">
    @markdown
			## h2
			### h3
			#### h4
			##### h5
			###### h6

			> blockquote lorem

			- satu
			- dua
			- tiga

			paragraf

			paragraf

			1. satu
			2. dua
			3. tiga

			![gambar](gambar.jpg)

			---

			paragraf

			paragraf `satu` dua
		@endmarkdown

    <pre><code>satu
dua
tiga</code></pre>

    @markdown
			paragraf
		@endmarkdown
  </article>

  <section class="list-komentar app">
  	<section class="isi-komentar" v-for='x in Array(3)'>
  		<img src="gambar.jpg" alt="" />
  		<section class="konten-komentar">
	  		<h2>Orang</h2>
	  		<p>Isi komentar</p>
  		</section>
  	</section>
  </section>

  <section class="kontrol-bookmark app" v-on:vue:mounted='store_bookmark.cek' v-cloak='true'>
  	<span v-if='store_bookmark.bookmarked' v-on:click='store_bookmark.hapus'>
  		{% include './icon/bookmark-hitam.html' %}
  	</span>
  	<span v-if="!store_bookmark.bookmarked" v-on:click='store_bookmark.tambah'>
  		{% include './icon/bookmark-putih.html' %}
  	</span>
  </section>

  <script>
  	const store_bookmark = PetiteVue.reactive({
      bookmarked: false,
      list_bookmark: [],
      cek(){
      	if (localStorage.bookmark) {
      		this.list_bookmark = JSON.parse(localStorage.bookmark)
      		
      		let cek_bookmarked = false
      		for (let x of this.list_bookmark){
      			if (x.link == location.href) {
      				cek_bookmarked = true
      			}
      		}
      		this.bookmarked = cek_bookmarked
      	}
      },
      tambah(){
      	this.list_bookmark = [...this.list_bookmark, {
      		judul: document.title, 
      		link: location.href
      	}]
      	this.list_bookmark = this.list_bookmark.sort((a, b) => a.judul > b.judul ? 1 : -1)
      	this.bookmarked = true
      	localStorage.bookmark = JSON.stringify(this.list_bookmark)
      },
      hapus(){
      	this.list_bookmark = this.list_bookmark.filter(x => x.link != location.href)
      	this.bookmarked = false
      	localStorage.bookmark = JSON.stringify(this.list_bookmark)
      }
    })

    PetiteVue.createApp({
      store_bookmark
    }).mount('.kontrol-bookmark.app')

  	PetiteVue.createApp({}).mount('.list-komentar.app')
  </script>

  <style lang="windi">

  	.kontrol-bookmark {
  		@apply fixed bottom-0 right-0 text-2xl cursor-pointer select-none p-2
  	}

  	.list-komentar {
  		@apply p-3
  	}
  	.isi-komentar {
  		@apply flex pb-3 text-sm gap-2
  	}
  	.isi-komentar h2 {
  		@apply font-bold
  	}
  	.isi-komentar img {
  		@apply w-15 h-15;
  	}

    .cover-postingan {
    	@apply w-full;
    	object-fit: cover;
    	aspect-ratio: 10 / 4;
    }
    .judul-artikel {
    	@apply text-center p-5 text-2xl;
    	font-family: cursive;
    }
    .konten {
    	@apply p-5 py-0
    }
    [imageanchor] {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .konten :where(h2, h3, h4, h5, h6) {
    	@apply font-bold
    }
    .konten ol li {
    	@apply list-decimal ml-5
    }
  </style>
{% endblock %}
