{% extends './base.html' %}

{% block isi %}
  <img src="gambar.jpg" alt="" class="cover-postingan" />

  <h1 class="judul-artikel">judul</h1>

  <article class="konten">
    @markdown
			## h2
			### h3
			#### h4
			##### h5
			###### h6

			> blockquote lorem

			- satu
			- dua
			- tiga

			paragraf

			paragraf

			1. satu
			2. dua
			3. tiga

			![gambar](gambar.jpg)

			---

			paragraf

			paragraf `satu` dua
		@endmarkdown

    <pre><code>satu
dua
tiga</code></pre>

    @markdown
			paragraf
		@endmarkdown
  </article>

  <section class="list-komentar app">
  	<section class="isi-komentar" v-for='x in Array(3)'>
  		<img src="gambar.jpg" alt="" />
  		<section class="konten-komentar">
	  		<h2>Orang</h2>
	  		<p>Isi komentar</p>
  		</section>
  	</section>
  </section>

  <script>
  	PetiteVue.createApp({
  		
  	}).mount('.list-komentar.app')
  </script>

  <style lang="windi">
  	.list-komentar {
  		@apply p-3
  	}
  	.isi-komentar {
  		@apply flex pb-3 text-sm gap-2
  	}
  	.isi-komentar h2 {
  		@apply font-bold
  	}
  	.isi-komentar img {
  		@apply w-15 h-15;
  	}

    .cover-postingan {
    	@apply w-full;
    	object-fit: cover;
    	aspect-ratio: 10 / 4;
    }
    .judul-artikel {
    	@apply text-center p-5 text-2xl;
    	font-family: cursive;
    }
    .konten {
    	@apply p-5 py-0
    }
    [imageanchor] {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .konten :where(h2, h3, h4, h5, h6) {
    	@apply font-bold
    }
    .konten ol li {
    	@apply list-decimal ml-5
    }
  </style>
{% endblock %}
